.features {
    margin-top: 60px;
    color: var(--text-color);

    .item {
        background-color: var(--main-color-2);
        padding: 2rem;
        border-radius: 20px;

        .icon {
            font-size: 50px;
            color: var(--main-color);
        }

        h3 {
            font-size: larger;
        }

        p {
            font-size: medium;
        }

    }
}